<div class="carousel slide" data-ride="carousel"><!--data-ride表示页面加载时就开始轮播画面-->
  <!--三个小圆点指示灯-->
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/slide.jpg" class="slide-image">
    </div>
    <div class="item">
      <img src="images/slide.jpg" class="slide-image">
    </div>
    <div class="item">
      <img src="images/slide.jpg" class="slide-image">
    </div>
    <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
